In [51]:
import pandas as pd

In [52]:
# inspect category and brands names manually to create dictionary files

ounass = pd.read_csv('output/ounass-2023-06-18.csv')
farfetch = pd.read_csv('output/farfetch-2023-06-18.csv')

In [53]:
brands = pd.DataFrame({'brands':ounass.brand.unique(), 'ounass':ounass.brand.unique()})

In [54]:
ff_brands = pd.DataFrame({'brands':farfetch.brand.unique(), 'farfetch':farfetch.brand.unique()})
ff_brands

                     brands                farfetch
0                       Y-3                     Y-3
1              Golden Goose            Golden Goose
2                Balenciaga              Balenciaga
3          Stella McCartney        Stella McCartney
4                    Jordan                  Jordan
..                      ...                     ...
324               YUME YUME               YUME YUME
325             Dr. Martens             Dr. Martens
326  Comme Des Garçons Play  Comme Des Garçons Play
327                 Merrell                 Merrell
328          The North Face          The North Face

[329 rows x 2 columns]

In [55]:
# left join on brands
brands = brands.merge(ff_brands, on='brands', how='left')
brands

,brands,ounass,farfetch
0,Chloé,Chloé,Chloé
1,Adidas,Adidas,NaN
2,Alexander McQueen,Alexander McQueen,Alexander McQueen
3,Miu Miu,Miu Miu,Miu Miu
4,Balenciaga,Balenciaga,Balenciaga
5,Jimmy Choo,Jimmy Choo,Jimmy Choo
6,Maison Margiela,Maison Margiela,Maison Margiela
7,Nike,Nike,Nike
8,Dolce & Gabbana,Dolce & Gabbana,Dolce & Gabbana
9,SAINT LAURENT,SAINT LAURENT,NaN
10,BOSS,BOSS,BOSS
11,Christian Louboutin,Christian Louboutin,NaN
12,Valentino Garavani,Valentino Garavani,Valentino Garavani
13,Golden Goose Deluxe Brand,Golden Goose Deluxe Brand,NaN
14,Malone Souliers,Malone Souliers,Malone Souliers
15,Lacoste,Lacoste,Lacoste
16,Armani Exchange,Armani Exchange,Armani Exchange
17,Karl Lagerfeld,Karl Lagerfeld,Karl Lagerfeld
18,Giuseppe Zanotti,Giuseppe Zanotti,Giuseppe Zanotti
19,Autry,Autry,Autry
20,Stella McCartney,Stella McCartney,Stella McCartney
21,Off-White,Off-White,Off-White
22,Ferragamo,Ferragamo,Ferragamo
23,Puma,Puma,NaN
24,KENZO,KENZO,NaN
25,Tory Burch,Tory Burch,Tory Burch
26,Brunello Cucinelli,Brunello Cucinelli,Brunello Cucinelli
27,Versace Jeans Couture,Versace Jeans Couture,Versace Jeans Couture
28,PINKO,PINKO,PINKO
29,René Caovilla,René Caovilla,René Caovilla
30,Loro Piana,Loro Piana,Loro Piana
31,Marni,Marni,Marni
32,Emporio Armani,Emporio Armani,Emporio Armani
33,Bottega Veneta,Bottega Veneta,NaN
34,Love Moschino,Love Moschino,Love Moschino
35,Bally,Bally,Bally
36,Giorgio Armani,Giorgio Armani,NaN
37,Michael Kors,Michael Kors,Michael Kors
38,Burberry,Burberry,Burberry
39,Palm Angels,Palm Angels,Palm Angels
40,Elisabetta Franchi,Elisabetta Franchi,Elisabetta Franchi
41,Versace,Versace,Versace
42,Jordan,Jordan,Jordan
43,Coach,Coach,Coach
44,MCM,MCM,MCM
45,Gucci,Gucci,Gucci
46,New Balance,New Balance,New Balance

In [56]:
ff_brands['farfetch'][ff_brands['farfetch'].apply(lambda x: 'oose' in x)]

1    Golden Goose
Name: farfetch, dtype: object

In [57]:
brands.loc[brands.brands=='KENZO', 'farfetch'] = 'Kenzo'
brands.loc[brands.brands=='PUMA', 'farfetch'] = 'Puma'
brands.loc[brands.brands=='SAINT LAURENT', 'farfetch'] = 'Saint Laurent'
brands.loc[brands.brands=='Adidas', 'farfetch'] = 'adidas'
brands.loc[brands.brands=='Golden Goose Deluxe Brand', 'farfetch'] = 'Golden Goose'

In [58]:
brands

,brands,ounass,farfetch
0,Chloé,Chloé,Chloé
1,Adidas,Adidas,adidas
2,Alexander McQueen,Alexander McQueen,Alexander McQueen
3,Miu Miu,Miu Miu,Miu Miu
4,Balenciaga,Balenciaga,Balenciaga
5,Jimmy Choo,Jimmy Choo,Jimmy Choo
6,Maison Margiela,Maison Margiela,Maison Margiela
7,Nike,Nike,Nike
8,Dolce & Gabbana,Dolce & Gabbana,Dolce & Gabbana
9,SAINT LAURENT,SAINT LAURENT,Saint Laurent
10,BOSS,BOSS,BOSS
11,Christian Louboutin,Christian Louboutin,NaN
12,Valentino Garavani,Valentino Garavani,Valentino Garavani
13,Golden Goose Deluxe Brand,Golden Goose Deluxe Brand,Golden Goose
14,Malone Souliers,Malone Souliers,Malone Souliers
15,Lacoste,Lacoste,Lacoste
16,Armani Exchange,Armani Exchange,Armani Exchange
17,Karl Lagerfeld,Karl Lagerfeld,Karl Lagerfeld
18,Giuseppe Zanotti,Giuseppe Zanotti,Giuseppe Zanotti
19,Autry,Autry,Autry
20,Stella McCartney,Stella McCartney,Stella McCartney
21,Off-White,Off-White,Off-White
22,Ferragamo,Ferragamo,Ferragamo
23,Puma,Puma,NaN
24,KENZO,KENZO,Kenzo
25,Tory Burch,Tory Burch,Tory Burch
26,Brunello Cucinelli,Brunello Cucinelli,Brunello Cucinelli
27,Versace Jeans Couture,Versace Jeans Couture,Versace Jeans Couture
28,PINKO,PINKO,PINKO
29,René Caovilla,René Caovilla,René Caovilla
30,Loro Piana,Loro Piana,Loro Piana
31,Marni,Marni,Marni
32,Emporio Armani,Emporio Armani,Emporio Armani
33,Bottega Veneta,Bottega Veneta,NaN
34,Love Moschino,Love Moschino,Love Moschino
35,Bally,Bally,Bally
36,Giorgio Armani,Giorgio Armani,NaN
37,Michael Kors,Michael Kors,Michael Kors
38,Burberry,Burberry,Burberry
39,Palm Angels,Palm Angels,Palm Angels
40,Elisabetta Franchi,Elisabetta Franchi,Elisabetta Franchi
41,Versace,Versace,Versace
42,Jordan,Jordan,Jordan
43,Coach,Coach,Coach
44,MCM,MCM,MCM
45,Gucci,Gucci,Gucci
46,New Balance,New Balance,New Balance

In [60]:
category = pd.DataFrame({'category':['shoes'], 'ounass':['shoes'], 'farfetch':['Shoes']})
category

  category ounass farfetch
0    shoes  shoes    Shoes

In [61]:
category.to_csv('dictionary/category.csv', index=False)
brands.to_csv('dictionary/brand.csv', index=False)